<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>BudgetMe</title>
</head>
<body>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">BudgetMe</span>
      </a>

      <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Budget</a></li>
        <li class="nav-item"><a href="/categories" class="nav-link">Categories</a></li>

        <li class="nav-item"><a href="/savings" class="nav-link">Savings</a></li>

      </ul>
    </header>

<table class="table table-bordered border-primary table-primary table-striped table-hover">
    <thead>
    <tr class="table-info">
        <th scope="col">&nbsp;</th>
        {% for item in months %}
        <th class="text-center" colspan="{{ budget.daysof }}" scope="col"><small>{{ item }}</small></th>
        {% endfor %}
        <th scope="col">&nbsp;</th>
    </tr>
    <tr class="table-success">
        <th scope="col">&nbsp;</th>
        {% for item in months %}
        {% for label in budget.days_labels %}
        <th class="text-center" scope="col"><small>{{ label }}</small></th>
        {% endfor %}
        {% endfor %}
        <th scope="col" class="text-center"><small>Balance</small></th>
    </tr>
    </thead>
    <tbody>
    {% for txn in budget.transactions %}
    <tr>
        <td>{{ txn.name }}</td>
        {% for forecast in txn.forecast_array %}
        <td class="text-end {% if forecast.amount < 0 %} table-danger {% endif %}"><small>{{ "${:,.2f}".format(forecast.amount) }}</small></td>
        {% endfor %}
        <td class="text-end {% if txn.balance < 0 %} table-danger {% endif %}"><small>{{ "${:,.2f}".format(txn.balance) }}</small></td>
    </tr>
    {% endfor %}
    <tr class="table-success">
        <td>Balance</td>
        {% for item in monthly_day_balance %}
        <td class="text-center {% if item < 0 %} table-danger {% endif %}"><small>{{ "${:,.2f}".format(item) }}</small></td>
        {% endfor %}
        <td>&nbsp;</td>
    </tr>
    <tr class="table-info">
        <td>Month Balance</td>
        {% for item in monthly_balance %}
        <th class="text-center {% if item < 0 %} table-danger {% endif %}" colspan="{{ budget.daysof }}" scope="col"><small>{{ "${:,.2f}".format(item) }}</small></th>
        {% endfor %}
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>